.textInputWrapper {
  position: relative;
}

.formInput {
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid var(--input-border-color);
}

.formInput:focus {
  outline: var(--input-border-color);
}

.errorMessage {
  color: var(--error-color);
  padding: 8px;
}

.inputError {
  border-color: var(--error-color);
}

.iconWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 46px;
  height: 46px;
  border-radius: 200px;
  background: #ffffff0d;
  box-shadow: 0px 4px 20px 0px #0000000d;
  display: flex;
  align-items: center; /* Centers icon vertically */
  justify-content: center;
}

.iconWrapper:disabled {
  background-color: var(--button-disabled-color);
  color: var(--button-disabled-text-color);
}

.icon {
  height: 20px;
  width: 20px;
}
